html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  ackground: linear-gradient(to right, #243B55, #141E30);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.btn {
  padding: 12px 26px;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-outline-custom {
  background-color: transparent;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  letter-spacing: 1px;
  transition: all 0.5s;
  font-size: 15px;
}

.btn-outline-custom.active,
.btn-outline-custom:active,
.btn-outline-custom:hover {
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
  color: #000 !important;
}

#boot-menu {
  background-color: transparent;
  font-family: "Helvetica", sans-serif;
  font-size: 1.8rem;
}
#boot-menu .navbar-nav a {
  position: relative;
  font-family: "Helvetica", sans-serif;
  color: #f2f2f2;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}
#boot-menu .navbar-nav .underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  background: #ff00dd;
  background: linear-gradient(90deg, #ff00dd 0%, #c660bb 37%, #00d4ff 100%);
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#boot-menu .navbar-nav .underline:hover:after,
#boot-menu .navbar-nav .underline:focus:after,
#boot-menu .navbar-nav .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
#boot-menu .navbar-nav .active {
  background: linear-gradient(90deg, #00d4ff 0%, #c660bb 70%, #ff00dd 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#boot-menu .navbar-nav li {
  margin: 0 2px;
}
@media screen and (max-width: 576px) {
  #boot-menu {
    font-size: 1.2rem;
  }
}

#tabular p, #me p, .container .desc {
  font-size: 3rem;
  color: #f2f2f2;
  font-style: italic;
  font-family: "DM Mono", monospace;
}

.container .name {
  color: #f2f2f2;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.container .desc {
  font-weight: 200;
  color: #a8000d;
}
.container #typing {
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif;
}
.container .header_btn {
  margin: auto;
  width: 50%;
}
@media screen and (max-width: 576px) {
  .container .name {
    font-size: 3rem;
  }
  .container .desc {
    font-size: 1.5rem;
  }
}

.particle-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 60%;
}

#me img {
  filter: grayscale(100%);
  border: 5px solid white;
}
#me p {
  text-align: left;
}
#me p span {
  color: #a8000d;
}
@media screen and (max-width: 800px) {
  #me p {
    font-size: 1.8rem;
    line-height: 1.4;
  }
}
@media screen and (max-width: 576px) {
  #me img {
    margin-top: 20%;
  }
  #me p {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: center;
  }
}
@media screen and (max-height: 678px) {
  #me img {
    width: 75%;
    height: auto;
    margin: 10%;
    margin-top: 20%;
  }
  #me p {
    font-size: 1.4rem;
  }
}

#tabular {
  overflow-x: auto;
  font-family: "Helvetica", sans-serif;
  font-weight: 200;
}
#tabular table {
  color: #f2f2f2;
  font-size: 2rem;
}
#tabular table th,
#tabular table td {
  border-bottom: 0.5px solid #f2f2f2;
  font-size: 1.5rem;
}
#tabular table td {
  text-align: center;
}
#tabular p {
  font-size: 1rem;
}

#contact {
  color: #f2f2f2;
}
#contact h1 {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  text-align: center;
}
#contact a {
  font-family: "DM Mono", monospace;
}
#contact .contact-link {
  text-align: center;
  color: #f2f2f2;
  font-size: 3rem;
  padding: 2rem;
  transition: transform 0.5s ease-out;
}
#contact .contact-link i {
  transition: transform 0.5s ease-out;
}
#contact .contact-link:hover {
  transform: scale(1.2);
}
#contact .contact-link:hover i {
  transform: rotate(360deg);
}
#contact span {
  color: #a8000d;
}
@media screen and (max-width: 800px) {
  #contact h1 {
    font-size: 4.5rem;
  }
  #contact .contact-link {
    font-size: 2.25rem;
    padding: 0;
  }
  #contact .linkz {
    height: 15%;
  }
}
@media screen and (max-width: 576px) {
  #contact h1 {
    font-size: 3rem;
  }
  #contact .contact-link {
    font-size: 1.5rem;
    padding: 0;
  }
  #contact .linkz {
    height: 15%;
  }
}

/*# sourceMappingURL=main-style.css.map */
