$bg-color: #333;
$white-text: #f2f2f2;

$helvetica: "Helvetica",
sans-serif;
$montserrat: "Montserrat",
sans-serif;
$mono: 'DM Mono',
monospace;

@mixin bg-grad {
    // background: #0F2027;
    // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    // background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    ackground: linear-gradient(to right, #243B55, #141E30);

    // background: #000000;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #434343, #000000);  
    // background: linear-gradient(to right, #434343, #000000); 

    // background: #485563;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #29323c, #485563);  
    // background: linear-gradient(to right, #29323c, #485563); 

    // background: #232526;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #414345, #232526);
    // background: linear-gradient(to right, #414345, #232526);

    // background-color: #7f5a83;
    // background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

    // background: #355C7D;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
    // background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 

}

html,
body {
    height: 100%;
    font-size: 10px;
}

body {
    @include bg-grad();
    font-family: $montserrat;
    font-weight: 400;
    line-height: 1.2;
}
// HELPERS
.btn {
    padding: 12px 26px;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-outline-custom {
    background-color: transparent;
    border: 2px solid $white-text;
    color: $white-text;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn-outline-custom.active,
.btn-outline-custom:active,
.btn-outline-custom:hover {
    background-color: $white-text !important;
    border-color: $white-text !important;
    color: #000 !important;
}

.btn-custom {
    // background-color: #000;
    border: 2px solid $white-text;
    color: #fff;
    transition: all 0.5s;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

#boot-menu {
    background-color: transparent;
    font-family: $helvetica;
    font-size: 1.8rem;

    .navbar-nav {
        a {
            position: relative;
            font-family: $helvetica;
            color: $white-text;
            text-decoration: none;
            padding-left: 15px;
            padding-right: 15px;
        }

        .underline:after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            width: 0;
            bottom: -5px;
            background: #000;
            background: rgb(255,0,221);
            background: linear-gradient(90deg, rgba(255,0,221,1) 0%, rgba(198,96,187,1) 37%, rgba(0,212,255,1) 100%);
            height: 4px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }
        .underline:hover:after,
        .underline:focus:after,
        .underline:active:after {
            left: 0;
            right: auto;
            width: 100%;
        }

        .active {
            background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(198,96,187,1) 70%, rgba(255,0,221,1) 100%);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        li {
            margin: 0 2px;
        }
    }

    @media screen and (max-width: 576px) {
        font-size: 1.2rem;
    }
}

%para {
    font-size: 3rem;
    color: $white-text;
    font-style: italic;
    font-family: $mono;
}

.container {
    .name {
        color: $white-text;
        font-size: 6rem;
        font-style: normal;
        font-weight: 400;
        font-family: $montserrat;
    }

    .desc {
        @extend %para;
        font-weight: 200;
        color: #a8000d;
    }

    #typing {
        font-weight: 600 !important;
        font-family: $montserrat;
    }

    .header_btn {
        margin: auto;
        width: 50%;
    }

    @media screen and (max-width: 576px) {
        .name {
            font-size: 3rem;
        }

        .desc {
            font-size: 1.5rem;
        }
    }
}

.popover {
    width: 75px;
    text-align: center;
    font-family: $mono;
}

#ball {
    display: flex;
    justify-content: center;
    width: 8%;
    height: 14%;
    position: fixed;
    bottom: 0;
    right: 0;

    .inner {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: $white-text;
        box-shadow: 0 0 15px 5px $white-text;
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.5,0.05,1,.5);
        animation-iteration-count: infinite;
    }

    @keyframes bounce {
        from { transform: translate3d(0, 0, 0);     }
        to   { transform: translate3d(0, 11em, 0); }
    }
}

.particle-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 60%;
}

#me {
    margin: 0;
    padding: 0;

    img {
        filter: grayscale(100%);
        // border: 5px solid white;
        height: 100vh;
        width: auto;
    }

    p {
        @extend %para;
        text-align: left;

        span {
            color: #a8000d;
        }
    }

    @media screen and (max-width: 800px) {
        p {
            font-size: 1.8rem;
            line-height: 1.4;
        }
    }

    @media screen and (max-width: 576px) {
        img {
            margin-top: 20%;
        }

        p {
            font-size: 1.6rem;
            line-height: 1.4;
            text-align: center;
        }
    }

    @media screen and (max-height: 678px) {
        img {
            width: 75%;
            height: auto;
            margin: 10%;
            margin-top: 20%;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

#tabular {
    overflow-x: auto;
    font-family: $helvetica;
    font-weight: 200;

    table {
        color: $white-text;
        font-size: 2rem;

        th,
        td {
            border-bottom: .5px solid $white-text;
            font-size: 1.5rem;
        }

        td {
            text-align: center;
        }
    }

    p {
        @extend %para;
        font-size: 1rem;
    }
}

// #contact {
//     color: $white-text;

//     h1 {
//         font-size: 6rem;
//         font-weight: bold;
//         font-family: $montserrat;
//         padding-bottom: 1rem;
//         text-align: center;
//     }

//     a {
//         font-family: $mono
//     }

//     .contact-link {
//         text-align: center;
//         color: $white-text;
//         font-size: 3rem;
//         padding: 2rem;
//         transition: transform 0.5s ease-out;

//         i {
//             transition: transform 0.5s ease-out;
//         }
//     }

//     .contact-link:hover {
//         transform: scale(1.2);

//         i {
//             transform: rotate(360deg);
//         }
//     }

//     span {
//         color: #a8000d;
//     }

//     @media screen and (max-width: 800px) {
//         h1 {
//             font-size: 4.5rem;
//         }

//         .contact-link {
//             font-size: 2.25rem;
//             padding: 0;
//         }

//         .linkz {
//             height: 15%;
//         }
//     }

//     @media screen and (max-width: 576px) {
//         h1 {
//             font-size: 3rem;
//         }

//         .contact-link {
//             font-size: 1.5rem;
//             padding: 0;
//         }

//         .linkz {
//             height: 15%;
//         }
//     }

// }

#contact {
    color: $white-text;

    .spacer {
        padding-top: 5%;
    }

    h1 {
        font-size: 6rem;
        font-family: $montserrat;
        text-align: center;
        font-weight: 200;


        span {
            color: #a8000d;
            font-weight: 600;
        }
    }

    #contact-form {
        label {
            font-family: $mono;
            font-weight: bold;
            font-size: 1.8rem;
            padding-bottom: 10px;
        }

        .form-control {
            box-shadow: none !important;
            height: 44px;
            border-radius: 0;
            font-family: $helvetica;
            font-size: 1.4rem;
        }

        textarea {
            height: auto !important;
        }
    }

    a {
        font-family: $mono
    }

    .contact-link {
        text-align: center;
        color: $white-text;
        font-size: 2.4rem;
        padding: 2rem;
        transition: transform 0.5s ease-out;

        i {
            transition: transform 0.5s ease-out;
        }
    }

    .contact-link:hover {
        transform: scale(1.2);

        i {
            transform: rotate(360deg);
        }
    }
}