$bg-color: #333;
$white-text: #f2f2f2;

$helvetica: "Helvetica",
sans-serif;
$montserrat: "Montserrat",
sans-serif;
$mono: 'DM Mono',
monospace;

@mixin bg-grad {
    // background: #0F2027;
    // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    // background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);

    // background: #000000;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #434343, #000000);  
    // background: linear-gradient(to right, #434343, #000000); 

    // background: #485563;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #29323c, #485563);  
    // background: linear-gradient(to right, #29323c, #485563); 

    // background: #232526;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #414345, #232526);
    // background: linear-gradient(to right, #414345, #232526);

    // background-color: #7f5a83;
    // background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

    // background: #355C7D;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
    // background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 

}

html,
body {
    height: 100%;
    font-size: 10px;
}

body {
    @include bg-grad();
    font-family: $montserrat;
    font-weight: 400;
    line-height: 1.2;
}
// HELPERS
.btn {
    padding: 12px 26px;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-outline-custom {
    background-color: transparent;
    border: 2px solid $white-text;
    color: $white-text;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 1.5rem;
}

.btn-outline-custom.active,
.btn-outline-custom:active,
.btn-outline-custom:hover {
    background-color: $white-text !important;
    border-color: $white-text !important;
    color: #000 !important;
}

.btn-custom {
    // background-color: #000;
    border: 2px solid $white-text;
    color: #fff;
    transition: all 0.5s;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

#boot-menu {
    background-color: transparent;
    font-family: $helvetica;
    font-size: 1.8rem;

    #logo {
        // background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2643.71 2997.73'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EUntitled-1%3C/title%3E%3Cpath class='cls-1' d='M726.82,1943.09c-5,43.87,19.26,77.4,62.78,85.61,33.18,6.06,64.21-1.43,94.53-15.7,38.53-18.9,73.48-43.52,108.44-67.77,51-35,101.66-69.56,158.73-94.17q146.61-64.74,285.37,14.62c23.55,13.56,41,18.19,67.78,1.79,92.74-56,190.12-59.93,289.65-15.7,55.28,24.26,104.87,57.79,154.09,91.68,36.74,25.32,72.77,51,113.08,70.27,28.54,13.55,58.14,20.69,89.53,15.33,46.38-7.49,71.7-41.37,65.64-87.74-6.42-47.09-37.46-73.84-83.83-71.35-7.85.36-16.05,6.78-24.61,1.07,44.59-47.44,114.86-49.58,160.87-3.56,40,40.66,54.22,91,45,146.25-18.91,114.5-112.36,204-240.42,219.73-213.31,26.4-411.64-15.7-585-149.82-5.36-3.92-11.06-7.49-17.13-11.77C1320,2197.42,1142.39,2242.72,950.48,2242c-69.2-.36-136.27-12.84-196.55-49.58-66.35-40.31-108.44-97.38-123.42-174.43-9.63-48.87,1.78-92.39,28.18-131.63,41.73-62.07,120.57-68.84,181.21-14.62C767.13,1866,733.24,1888.87,726.82,1943.09Z' transform='translate(-178.2 -2.27)'/%3E%3Cpath class='cls-1' d='M2779.32,1952.36c-85.25,408.08-323.53,693.45-704.85,860-178.36,78.12-365.63,123.42-557.54,151.24C1195.18,3010,872.36,3005,548.82,2987.18c-81.68-4.29-163.73-8.92-245.06-20.34-27.82-3.92-34.24-15.33-32.46-39.59,1.07-11.77.36-23.9.36-35.67V732.78H531.34V2676.12c0,11.78,1.08,23.9,0,35.68-2.49,25.32,5.71,36,33.54,36.74,234.35,6.42,468.71,18.19,703.07,19.62,156.6.71,311-17.84,461.22-62.43,387.39-114.86,653.49-358.85,769.78-749.44,93.1-313.19,86.68-629.24-16-939.93-91-274-261.47-486.19-518.3-623.89-173.36-93.45-359.92-140.89-556.11-143-184.77-2.14-369.55-1.79-554.32-1.43v-.36h-676V6.87Q199.61,5.81,221,5.8c397,.36,794.39-9.63,1191.05,2.5C1944.27,24.35,2561,289.74,2758.64,1052,2835.69,1349.52,2842.11,1651.3,2779.32,1952.36Z' transform='translate(-178.2 -2.27)'/%3E%3Cpath class='cls-1' d='M2313.82,2013.72c-18.91,114.5-112.36,204-240.42,219.73-213.31,26.4-411.64-15.7-585-149.82-5.36-3.92-11.06-7.49-17.13-11.77C1320,2197.42,1142.39,2242.72,950.48,2242c-69.2-.36-136.27-12.84-196.55-49.58-66.35-40.31-108.44-97.38-123.42-174.43-9.63-48.87,1.78-92.39,28.18-131.63,41.73-62.07,120.57-68.84,181.21-14.62-72.77-5.71-106.66,17.12-113.08,71.34-5,43.87,19.26,77.4,62.78,85.61,33.18,6.06,64.21-1.43,94.53-15.7,38.53-18.9,73.48-43.52,108.44-67.77,51-35,101.66-69.56,158.73-94.17q146.61-64.74,285.37,14.62c23.55,13.56,41,18.19,67.78,1.79,92.74-56,190.12-59.93,289.65-15.7,55.28,24.26,104.87,57.79,154.09,91.68,36.74,25.32,72.77,51,113.08,70.27,28.54,13.55,58.14,20.69,89.53,15.33,46.38-7.49,71.7-41.37,65.64-87.74-6.42-47.09-37.46-73.84-83.83-71.35-7.85.36-16.05,6.78-24.61,1.07,44.59-47.44,114.86-49.58,160.87-3.56C2308.83,1908.13,2323.09,1958.43,2313.82,2013.72Z' transform='translate(-178.2 -2.27)'/%3E%3Cpath class='cls-1' d='M2313.82,2013.72c-18.91,114.5-112.36,204-240.42,219.73-213.31,26.4-411.64-15.7-585-149.82-5.36-3.92-11.06-7.49-17.13-11.77C1320,2197.42,1142.39,2242.72,950.48,2242c-69.2-.36-136.27-12.84-196.55-49.58-66.35-40.31-108.44-97.38-123.42-174.43-9.63-48.87,1.78-92.39,28.18-131.63,41.73-62.07,120.57-68.84,181.21-14.62-72.77-5.71-106.66,17.12-113.08,71.34-5,43.87,19.26,77.4,62.78,85.61,33.18,6.06,64.21-1.43,94.53-15.7,38.53-18.9,73.48-43.52,108.44-67.77,51-35,101.66-69.56,158.73-94.17q146.61-64.74,285.37,14.62c23.55,13.56,41,18.19,67.78,1.79,92.74-56,190.12-59.93,289.65-15.7,55.28,24.26,104.87,57.79,154.09,91.68,36.74,25.32,72.77,51,113.08,70.27,28.54,13.55,58.14,20.69,89.53,15.33,46.38-7.49,71.7-41.37,65.64-87.74-6.42-47.09-37.46-73.84-83.83-71.35-7.85.36-16.05,6.78-24.61,1.07,44.59-47.44,114.86-49.58,160.87-3.56C2308.83,1908.13,2323.09,1958.43,2313.82,2013.72Z' transform='translate(-178.2 -2.27)'/%3E%3C/svg%3E");
        width: 10%;
        height: 10%;

        transition: transform 0.5s ease-out;

        .svg-blk {
            fill: #000;
        }
    }

    #logo:hover {
        transform: scale(1.5);
        cursor: none;
    }

    .navbar-brand:hover {
        cursor: auto;
    }

    .navbar-nav {
        a {
            position: relative;
            font-family: $helvetica;
            color: $white-text;
            text-decoration: none;
            padding-left: 15px;
            padding-right: 15px;
        }

        .underline:after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            width: 0;
            bottom: -5px;
            background: #000;
            background: rgb(255,0,221);
            background: linear-gradient(90deg, rgba(255,0,221,1) 0%, rgba(198,96,187,1) 37%, rgba(0,212,255,1) 100%);
            height: 4px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }
        .underline:hover:after,
        .underline:focus:after,
        .underline:active:after {
            left: 0;
            right: auto;
            width: 100%;
        }

        .active {
            background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(198,96,187,1) 70%, rgba(255,0,221,1) 100%);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        li {
            margin: 0 2px;
        }
    }

    @media screen and (max-width: 576px) {
        // @include bg-grad();
        font-size: 1.2rem;
    }
}

%para {
    font-size: 3rem;
    color: $white-text;
    font-style: italic;
    font-family: $mono;
}

.container {
    .name {
        color: $white-text;
        font-size: 6rem;
        font-style: normal;
        font-weight: 400;
        font-family: $montserrat;
    }

    .desc {
        @extend %para;
        font-weight: 200;
        color: #a8000d;
    }

    #typing {
        font-weight: 600 !important;
        font-family: $montserrat;
    }

    .header_btn {
        margin: auto;
        width: 50%;
    }

    @media screen and (max-width: 576px) {
        .name {
            font-size: 4rem;
        }

        .desc {
            font-size: 2rem;
        }

        .btn-outline-custom {
            font-size: 1.4rem;
        }
    }
}

.popover {
    width: 75px;
    text-align: center;
    font-family: $mono;
}

#ball {
    display: flex;
    justify-content: center;
    width: 8%;
    height: 14%;
    position: fixed;
    bottom: 0;
    right: 0;

    .inner {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: $white-text;
        box-shadow: 0 0 15px 5px $white-text;
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.5,0.05,1,.5);
        animation-iteration-count: infinite;
    }

    @keyframes bounce {
        from { transform: translate3d(0, 0, 0);     }
        to   { transform: translate3d(0, 11em, 0); }
    }
}

.particle-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 60%;
}

#me {
    margin: 0;
    padding: 0;
    color: $white-text;

    .row {
        margin-right: 0;
    }

    h1 {
        font-size: 6rem;
        font-family: $montserrat;
        text-align: center;
        font-weight: 200;


        span {
            color: #a8000d;
            font-weight: 600 !important;
        }
    }

    img {
        filter: grayscale(100%);
        // border: 5px solid white;
        height: 100vh;
        width: auto;
    }

    p {
        @extend %para;
        font-size: 2.1rem;
        text-align: left;

        span {
            color: #a8000d;
        }
    }

    .skill-custom {
        font-size: 1.6rem;
        font-family: $helvetica;

        .progress {
            height: 6px;
            margin-bottom: 40px;
            margin-top: 10px;
        }

        .progress-bar {
            background: #a8000d;
        }
    }

    @media screen and (max-width: 800px) {
        p {
            font-size: 1.8rem;
            line-height: 1.4;
        }
    }

    @media screen and (max-width: 576px) {
        img {
            margin-top: 20%;
        }

        p {
            font-size: 1.6rem;
            line-height: 1.4;
            text-align: center;
        }
    }

    @media screen and (max-height: 678px) {
        img {
            width: 75%;
            height: auto;
            margin: 10%;
            margin-top: 20%;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

.spacer {
    padding-top: 5%;
}

.page_title {
    ont-size: 6rem;
    font-family: $montserrat;
    text-align: center;
    font-weight: 200;


    span {
        color: #a8000d;
        font-weight: 600;
    }
}

#projects {
    color: $white-text;

    h1 {
        font-size: 6rem;
        font-family: $montserrat;
        text-align: center;
        font-weight: 200;


        span {
            color: #a8000d;
            font-weight: 600;
        }
    }

    .carousel-caption {
        h5 {
            font-family: $helvetica;
            font-weight: 700;
            font-size: 1.6rem;
        }

        p {
            font-size: 1.2rem;
            font-family: $mono;
        }
    }

    @media screen and (max-width: 768px) {
        h1 {
            font-size: 4.5rem;
        }

        .spacer {
            padding-top: 10%;
        }
    }

    @media screen and (max-width: 576px) {
        h1 {
            font-size: 3rem;
        }

        .spacer {
            padding-top: 17%;
        }
    }

    @media screen and (min-width: 2000px) {
        h1 {
            font-size: 7.2rem;
        }

        #project-slideshow {
            margin-top: 10% !important;
        }
    }

    // .card {
    //     width: 100%;
    //     height: 75%;
    //     font-family: $mono;
    //     color: $white-text;

    //     img {
    //         height: 100%;
    //         filter: blur(1px);
    //         -webkit-filter: blur(1px);
    //     }

    //     card-title {
    //         color: #fff !important;
    //     }
    // }
}

#contact {
    color: $white-text;

    h1 {
        font-size: 6rem;
        font-family: $montserrat;
        text-align: center;
        font-weight: 200;


        span {
            color: #a8000d;
            font-weight: 600;
        }
    }

    #contact-form {
        label {
            font-family: $mono;
            font-weight: bold;
            font-size: 1.8rem;
            padding-bottom: 10px;
        }

        .form-control {
            box-shadow: none !important;
            height: 44px;
            border-radius: 0;
            font-family: $helvetica;
            font-size: 1.4rem;
        }

        textarea {
            height: auto !important;
        }
    }

    a {
        font-family: $mono
    }

    .contact-link {
        text-align: center;
        color: $white-text;
        font-size: 2.4rem;
        padding: 2rem;
        transition: transform 0.5s ease-out;

        i {
            transition: transform 0.5s ease-out;
        }
    }

    .contact-link:hover {
        transform: scale(1.2);

        i {
            transform: rotate(360deg);
        }
    }

    @media screen and (max-width: 768px) {
        h1 {
            font-size: 4.5rem;
        }

        .contact-link {
            font-size: 2.25rem;
            padding: 0;
        }

        .linkz {
            height: 15%;
        }

        .spacer {
            padding-top: 8%;
        }
    }

    @media screen and (max-width: 576px) {
        h1 {
            font-size: 3rem;
        }

        .contact-link {
            font-size: 1.5rem;
            padding: 0;
        }

        .linkz {
            height: 15%;
        }

        .spacer {
            padding-top: 8%;
        }

        #social-btns {
            display: block;
        }
    }
}